
<div id="layout">
  <div id="left">
    <ul>
      <li><a href="lecture-1/canvas">1. canvas 호출</a></li>
      <li><a href="lecture-2/canvas">2. 도형 그리기</a></li>
      <li><a href="lecture-3/canvas">3. 구조화된 Object 만들기</a></li>
      <li><a href="lecture-4/canvas">4. 이벤트 생성(이동, 회전)</a></li>
      <li><a href="lecture-10/canvas">10. Hit Region Detection</a></li>
      <li><a href="lecture-4-rotate/canvas">4-1. 회전에 대한 이해</a></li>
      <li><a href="lecture-4-save-restore/canvas">4-2. save, restore 대한 이해</a></li>
      <li><a href="lecture-5/canvas">5. 다양한 Object 다루기</a></li>
      
      <li><a href="lecture-6-matrix-default/canvas">6. Matrix 기초</a></li>
      <li><a href="lecture-6/canvas">6-1. Matrix를 사용한 animation</a></li>
      <li><a href="lecture-7-matrix-motion/canvas">7. 4에서 구현한 마우스이벤트를 이용한 이동/회전을 matrix를 이용하여 처리하기</a></li>
      <li><a href="lecture-8-multiobject/canvas">8. multi Object 다루기</a></li>
      <li><a href="lecture-9-multiobject/canvas">9. 좀더 구조화된 Object 만들기</a></li>
      <li><a href="lecture-11/canvas">11. GSAP와 canvas </a></li>
      <li><a href="lecture-12/canvas">12. 간단한 tanggram </a></li>
    </ul>
  </div>
  <div id="right">
    <router-outlet></router-outlet>
  </div>
</div>
<style>
  #layout {
    display: flex;
    height: 100vh;
  }

  #left {
    background-color: bisque;
    padding: 10px;
  }
  #right {
    background-color: rgb(196, 255, 216);
    width: 100%;
  }
</style>

